@use "../../assets/styles/variables.scss" as *;

.detail {
  &__button {
    margin-left: 0;
    background-color: transparent;
    // padding: 10px 0 10px 0;
    margin-top: 10px;
    &-title {
      z-index: 100;
    }
  }
}
